@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");

$font-main: "Poppins", sans-serif;
$black1: #26292e;
$black2: #2c2f34;
$white1: #ffffff;
$white2: #324252;
$yellow: #ce870d;
$blue: #2296cb;

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: $font-main;
}

.text-font-global {
    font-family: $font-main !important;
}

.header {
    height: 100vh;
    display: flex;
    margin: auto;
    align-items: center;
}

.text-continue {
    display: -webkit-box;
    max-width: 35rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dashboard {
    min-height: 100vh;
    padding-top: 5rem;
}
